.shit-app{
    width: 450px;
    height: 600px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(115, 115, 115, 0.5);
    background-image: url("image/web-130.jpg");
    background-size: 100% 100%;
    overflow: hidden;
}
.box-search{
    width: 100%;
    position: absolute;
    top: 0;
    height: 50px;
}
.box-search input{
    width: 100%;
    text-align: center;
    background-color: #f8f8f8;
    border: none;
    z-index: 15;
    font-size: 20px;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(41, 41, 41, 0.2);
    box-sizing: border-box;
    outline: none;
    height: 100%;
}
.view-chat{
    width: 100%;
    height: 500px;
    overflow-y:scroll ;
    position: absolute;
    top: 50px;
    z-index: 14;
}
.input-message{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    padding: 5px;
    box-sizing: border-box;
}
.input-textarea{
    width: 85%;
    height: 100%;
    max-height: 100%;
    max-width: 85%;
    background-color: #fafafa;
    min-width: 85%;
    min-height: 100%;
    border: 1px solid rgba(0,0,0,.2);
    outline: none;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 100px ;
}
::-webkit-scrollbar ,::-webkit-scrollbar-thumb{
    display: none;
    visibility: hidden;
}
.input-message button{
    top: 0;
    position: absolute;
    margin: 8px;
    background: #00ea00;
    width: 54px;
    height: 35px;
    box-shadow: 1px 1px 10px rgba(71, 71, 71, 0.5);
    color: wheat;
    border-radius: 100px;
    border: none;
}
.you-message , .my-message{
    width: 51%;
    max-width: 51%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px 20px 20px 0;
    background-color: #f6f6f6;
}
.my-message{
    margin-right: 10px;
    border-radius: 20px 20px 0 20px;
    background-color: #bbff87;
}
.box-user-search{
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    max-height:200px;
    position: absolute;
    top: 50px;
    z-index: 16;
}
.box{
    width: 100%;
    display: none;
    height: 100%;
    border-radius: 10px;
    overflow-y: scroll;
    backdrop-filter: blur(5px);
}
.box li{
    padding: 20px 10px;
    cursor: pointer;
    list-style: none;
    transition: 0.2s;
    border-bottom: 1px solid rgba(105, 105, 105, 0.5);
}
.box li:hover{
    color: #000000;
    background-color: #ffffff;
    opacity: 50%;
}
.online , .offline{
    width: 10px;
    border-radius: 50%;
    background-color: forestgreen;
    height: 10px;
}
.offline{
    background-color: #ff2121;
}
.name-user span{
    position: absolute;
    top: 25px;
    left: 10px;
    color: #ffffff;
}
